<h1>Details</h1>
<div class="post-img">
  <img src="@Model.ImageSource" alt="post picture">
</div>
<div> @Model.Title </div>
<div> @Model.Body </div>
<div> @Model.score </div>
<div class="col-sm-1 text-center">
    @using (Html.BeginForm("UpVote", "Posts"))
    {
      <input id="postId" name="postId" type="hidden" value="@Model.PostId">
      <input id="boardId" name="boardId" type="hidden" value="@Model.BoardId">
      <input id="viewId" name="viewId" type="hidden" value="0">
      <button type="submit" value="UpVote" class="btn btn-success btn-sm"><i class="fas fa-caret-square-up"></i></button>
    }

    @using (Html.BeginForm("DownVote", "Posts"))
    {
      <input id="postId" name="postId" type="hidden" value="@Model.PostId">
      <input id="viewId" name="viewId" type="hidden" value="0">
      <button type="submit" value="DownVote" class="btn btn-danger btn-sm"><i class="fas fa-caret-square-down"></i></button>
    }
</div>

@Html.ActionLink("Add Comment", "Create", "Comments", new {boardId = Model.BoardId, postId = Model.PostId }, new {@class="btn btn-info"})
<hr>
@if(Model.Comments.Count == 0)
{
  <p> No Comments </p>
}
else
{
  @foreach (var comment in Model.Comments)
  {
      <p> @comment.Body </p>
  }
}

<hr>

@Html.ActionLink("Edit", "Edit", "Posts", new {boardId = Model.BoardId, postId = Model.PostId }, new {@class="btn btn-info"})
@Html.ActionLink("Delete", "Delete", "Posts", new {boardId = Model.BoardId, postId = Model.PostId }, new {@class="btn btn-danger"})
@Html.ActionLink("Back", "Details", "Boards", new {id = Model.BoardId}, new {@class="btn btn-warning"})