<h1>@Model.Name</h1>
<h2>Description: @Model.Description</h2>
<hr>

@foreach (var post in Model.Posts)
{
  <div class="row">
      <div class="col-sm-1 text-center">
          @using (Html.BeginForm("UpVote", "Posts"))
          {
            <input id="postId" name="postId" type="hidden" value="@post.PostId">
            <input id="boardId" name="boardId" type="hidden" value="@Model.BoardId">
            @* @Html.HiddenFor(post => post.PostId); *@
            @* @Html.HiddenFor(model => Model.BoardId); *@
            <button type="submit" value="UpVote" class="btn btn-success btn-sm"><i class="fas fa-caret-square-up"></i></button>
          }

          @using (Html.BeginForm("DownVote", "Posts"))
          {
            <input id="postId" name="postId" type="hidden" value="@post.PostId">
            <input id="boardId" name="boardId" type="hidden" value="@Model.BoardId">
            @* @Html.HiddenFor(post => post.PostId); *@
            @* @Html.HiddenFor(model => Model.BoardId); *@
            <button type="submit" value="DownVote" class="btn btn-danger btn-sm"><i class="fas fa-caret-square-down"></i></button>
          }
      </div>
    <div class="col-sm-10">
      @* <h4> @post.Title</h4> *@
      <h4> @Html.ActionLink($"{@post.Title}", "Details", "Posts", new { boardId = Model.BoardId, postId = post.PostId})</h4>
      <div>
        <p>
          @post.Body
        </p>
        <p>Current Score : @post.score</p>
      </div>
    </div>
  </div>
  <br>

}

@Html.ActionLink("Add Post", "Create", "Posts", new {boardId = Model.BoardId}, new {@class="btn btn-success"})

@Html.ActionLink("Edit", "Edit", new {id = Model.BoardId}, new {@class="btn btn-info"})
@Html.ActionLink("Delete this Board", "Delete", new {id = Model.BoardId}, new {@class="btn btn-danger"})